USE [DynamicFormDB]
GO
/****** Object:  Table [dbo].[FormFields]    Script Date: 23-Nov-25 2:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormFields](
	[FieldId] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NOT NULL,
	[Label] [nvarchar](200) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[SelectedOptionValueId] [int] NULL,
	[OptionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 23-Nov-25 2:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[FormId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 23-Nov-25 2:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[OptionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OptionValues]    Script Date: 23-Nov-25 2:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionValues](
	[OptionValueId] [int] IDENTITY(1,1) NOT NULL,
	[OptionId] [int] NOT NULL,
	[Value] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FormFields] ON 

INSERT [dbo].[FormFields] ([FieldId], [FormId], [Label], [IsRequired], [SelectedOptionValueId], [OptionId]) VALUES (4, 1, N'Level 1', 1, 1, 1)
INSERT [dbo].[FormFields] ([FieldId], [FormId], [Label], [IsRequired], [SelectedOptionValueId], [OptionId]) VALUES (5, 1, N'Level 2', 1, 2, 1)
INSERT [dbo].[FormFields] ([FieldId], [FormId], [Label], [IsRequired], [SelectedOptionValueId], [OptionId]) VALUES (6, 1, N'Level 3', 1, 5, 2)
SET IDENTITY_INSERT [dbo].[FormFields] OFF
GO
SET IDENTITY_INSERT [dbo].[Forms] ON 

INSERT [dbo].[Forms] ([FormId], [Title], [CreatedDate]) VALUES (1, N'Form Title 1', CAST(N'2025-11-23T10:26:39.040' AS DateTime))
INSERT [dbo].[Forms] ([FormId], [Title], [CreatedDate]) VALUES (2, N'Form Title 2', CAST(N'2025-11-23T11:16:41.633' AS DateTime))
INSERT [dbo].[Forms] ([FormId], [Title], [CreatedDate]) VALUES (3, N'Form Title 3', CAST(N'2025-11-23T11:17:52.690' AS DateTime))
SET IDENTITY_INSERT [dbo].[Forms] OFF
GO
SET IDENTITY_INSERT [dbo].[Options] ON 

INSERT [dbo].[Options] ([OptionId], [Name]) VALUES (1, N'Create Option for QIA')
INSERT [dbo].[Options] ([OptionId], [Name]) VALUES (2, N'Create Option for NGIT')
INSERT [dbo].[Options] ([OptionId], [Name]) VALUES (3, N'Create Option for NGIT BD')
SET IDENTITY_INSERT [dbo].[Options] OFF
GO
SET IDENTITY_INSERT [dbo].[OptionValues] ON 

INSERT [dbo].[OptionValues] ([OptionValueId], [OptionId], [Value]) VALUES (1, 1, N'Option A')
INSERT [dbo].[OptionValues] ([OptionValueId], [OptionId], [Value]) VALUES (2, 1, N'Option B')
INSERT [dbo].[OptionValues] ([OptionValueId], [OptionId], [Value]) VALUES (3, 1, N'Option C')
SET IDENTITY_INSERT [dbo].[OptionValues] OFF
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FormFields]  WITH CHECK ADD  CONSTRAINT [FK__FormField__Forms_FormId] FOREIGN KEY([FormId])
REFERENCES [dbo].[Forms] ([FormId])
GO
ALTER TABLE [dbo].[FormFields] CHECK CONSTRAINT [FK__FormField__Forms_FormId]
GO
ALTER TABLE [dbo].[FormFields]  WITH CHECK ADD  CONSTRAINT [FK_FormFields_Options_OptionId] FOREIGN KEY([OptionId])
REFERENCES [dbo].[Options] ([OptionId])
GO
ALTER TABLE [dbo].[FormFields] CHECK CONSTRAINT [FK_FormFields_Options_OptionId]
GO
ALTER TABLE [dbo].[OptionValues]  WITH CHECK ADD FOREIGN KEY([OptionId])
REFERENCES [dbo].[Options] ([OptionId])
GO
/****** Object:  StoredProcedure [dbo].[sp_FormTitleExists]    Script Date: 23-Nov-25 2:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FormTitleExists]
(
    @Title NVARCHAR(200),
    @Exists BIT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS(SELECT 1 FROM Forms WHERE Title = @Title)
        SET @Exists = 1;
    ELSE
        SET @Exists = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFormsPaged]    Script Date: 23-Nov-25 2:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFormsPaged]
(
    @Start INT,
    @Length INT,
    @Search NVARCHAR(100) = NULL,
    @RecordsTotal INT OUTPUT,
    @RecordsFiltered INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON; 
    SELECT @RecordsTotal = COUNT(*) FROM Forms;

    SELECT @RecordsFiltered = COUNT(*)
    FROM Forms
    WHERE (@Search IS NULL OR Title LIKE N'%' + @Search + '%');

    SELECT FormId, Title, CreatedDate
    FROM Forms
    WHERE (@Search IS NULL OR Title LIKE N'%' + @Search + '%')
    ORDER BY FormId DESC
    OFFSET @Start ROWS
    FETCH NEXT @Length ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFormWithFields]    Script Date: 23-Nov-25 2:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFormWithFields]
(
    @FormId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT FormId, Title, CreatedDate
    FROM Forms
    WHERE FormId = @FormId;
	  
    SELECT f.FieldId, f.FormId,f.[Label], f.IsRequired,   ov.OptionId, f.SelectedOptionValueId, [SelectedOption]=ov.[Value]
    FROM FormFields f
    LEFT JOIN OptionValues ov 
        ON ov.OptionValueId = f.SelectedOptionValueId
    WHERE f.FormId = @FormId
    ORDER BY f.FieldId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOptionValues]    Script Date: 23-Nov-25 2:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOptionValues]
(
    @OptionId INT
)
AS
BEGIN
    SELECT OptionValueId, OptionId, [Value]
    FROM OptionValues
    WHERE OptionId = @OptionId
    ORDER BY OptionValueId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OptionSets_Paged]    Script Date: 23-Nov-25 2:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OptionSets_Paged]
(
    @Skip INT,
    @PageSize INT,
    @Search NVARCHAR(100) = NULL,
    @SortColumn NVARCHAR(50) = 'OptionId',
    @SortDirection NVARCHAR(5) = 'ASC'
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Total Count (without search)
    SELECT @Search = NULLIF(@Search, '');

    SELECT COUNT(*) AS TotalCount
    FROM Options
    WHERE (@Search IS NULL OR [Name] LIKE N'%' + @Search + '%');

    -- Paged Result (Search + Sorting + Paging)
    SELECT 
        OptionId,
        Name
    FROM Options
    WHERE (@Search IS NULL OR [Name] LIKE N'%' + @Search + '%')
    ORDER BY 
        CASE WHEN @SortColumn = 'OptionId' AND @SortDirection = 'ASC'  THEN OptionId END ASC,
        CASE WHEN @SortColumn = 'OptionId' AND @SortDirection = 'DESC' THEN OptionId END DESC,
        CASE WHEN @SortColumn = 'Name' AND @SortDirection = 'ASC' THEN [Name] END ASC,
        CASE WHEN @SortColumn = 'Name' AND @SortDirection = 'DESC' THEN [Name] END DESC
    OFFSET @Skip ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveForm]    Script Date: 23-Nov-25 2:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaveForm]
(
    @Title NVARCHAR(200),
    @NewFormId INT OUTPUT
)
AS
BEGIN
    INSERT INTO Forms (Title)
    VALUES (@Title);
    SET @NewFormId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveFormField]    Script Date: 23-Nov-25 2:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaveFormField]
(
    @FormId INT,
    @Label NVARCHAR(200),
    @IsRequired BIT,
    @OptionId INT = NULL,
    @SelectedOptionValueId INT = NULL
)
AS
BEGIN
    INSERT INTO FormFields (FormId, [Label], IsRequired, OptionId, SelectedOptionValueId)
    VALUES (@FormId, @Label, @IsRequired, @OptionId, @SelectedOptionValueId);
END;
GO
